
.game-board {
  --cell-size: 100px;
  width: fit-content;

  display: grid;
  grid-template-columns: repeat(3, var(--cell-size));
  grid-template-rows: repeat(3, var(--cell-size));
  gap: 2px;

  background-color: black;
  border: 2px solid black;
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #EEE;

    font-family: 'Lucida Grande', sans-serif;
    font-size: 3rem;

    user-select: none;
    
    &.can-click:hover {
      background-color: #DDD;
      cursor: pointer;
    }
  }
}
